@model Product

<form method="post" asp-action="Delete">
	<input asp-for="Id" hidden />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Delete Product</h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="mb-3">
			<label asp-for="Name"></label>
			<input asp-for="Name" disabled class="form-control" />
		</div>
        <div class="mb-3">
			<label asp-for="Description"></label>
			<input asp-for="Description" disabled class="form-control" />
		</div>
        <div class="mb-3">
			<label asp-for="Price"></label>
			<input asp-for="Price" disabled class="form-control" />
		</div>
		<div class="mb-3">
    <label>Categories</label>
    @foreach (var category in ViewBag.Categories)
{
    <div class="form-check">
        <input disabled class="form-check-input" type="checkbox" name="SelectedCategoryIds" value="@category.Id" 
               checked="@(Model.ProductCategories.Any(pc => pc.CategoryId == category.Id))" />
        <label class="form-check-label" for="category_@category.Id">@category.Name</label>
    </div>
}
</div>
		<button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
		<a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}